# Logs
*.log

# Uploads
uploads/cv/*
uploads/certificates/*

# Keep folders
!uploads/cv/.gitkeep
!uploads/certificates/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment
.env